* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-heading {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: antiquewhite;
    height: 90%;
}

.card {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 10px 0;
    flex-direction: column;
    background-color: azure;
}

/* Bootstrap Button  */
.bootstrap-get {
    padding: 0 2rem;
    border-radius: 4px !important;
    background-color: #5F4293;
    color: white;
    font-weight: 500;
}
.bootstrap-download {
    border-radius: 4px !important;
    background-color: transparent;
    border: 1px #5F4293 solid !important;
    padding: 0 2rem;
    color: #5F4293;
    transition: background-color 0.3s ease;
}
.bootstrap-download:hover {
    background-color: #5F4293;
    color: white;
}

/* LinkedIn Button  */


.btn {
    height: 2.6rem;
    border-radius: 0;
    border: 0;
}
.btn:hover {
    cursor: pointer;
}